name: Create Release
on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm install
      - name: Build for Mac
        run: npm run build -- --target=bun-darwin-arm64 --outfile dist/algolia-mcp-darwin-arm64-${{ github.ref_name }}
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: "true"
          files: dist/*